{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <script>
        //Django variables that we want to be accessible in myfirst.js
        var username = "{{ user.get_username }}";
        var gui_elements = String.raw`{{ gui_elements | safe }}`;
        var channelsActivated = JSON.parse("{{ channelsActivated }}");
        var functionDict = JSON.parse(String.raw`{{ functionDict | safe }}`);
        var possibleHTMLelements = JSON.parse(String.raw`{{ possibleHTMLelements | safe }}`);
    </script>
    <head>
        <meta charset="utf-8">
            <link rel="shortcut icon" href="#" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <title>Red Trap</title>
                
            </head>
    
    <body>
        <div class="container-fluid pt-1 pl-1" style="height:50px">
<!--            <div class="row">-->
                <div class="d-flex align-items-center flex-wrap">
                    <button class="btn btn-primary" onclick="openNav()">
                        &#9776
                    </button>

                    <div class="d-flex">
                        <h3 class="pl-1 d-flex px-2">Red Trap</h3>
                    </div>
                    <div class="d-flex container justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="px-2">
                                <div class="progress" style="width:100px">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        QFDR
                                    </div>
                                </div>
                            </div>
                            <div class="px-2">
                                <div class="progress" style="width:100px">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        Branching
                                    </div>
                                </div>
                            </div>

                            <div class="px-2">
                                <div class="progress" style="width:100px">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        Autocalibration
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex alert-success p-1 rounded border border-primary">
                            <p class="text-white"></p>Autocalibration</p>
                        </div>

                        <div class="d-flex alert-success p-1 rounded border border-primary">
                            Status: Executing Seq1
                        </div>
                    </div>
                </div>
<!--            </div>-->
        </div>
        
        <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'Detection' %}" onclick="Stop()">Detection</a>
        <a href="{% url 'Quadrupole' %}" onclick="Stop()">Quadrupole</a>
        <a href="{% url 'Raman' %}" onclick="Stop()">Raman</a>
        <nobr><a href="{% url 'Motor_Control' %}" onclick="Stop()">Motor Control</a></nobr>
        <nobr><a href="{% url 'Static_Control' %}" onclick="Stop()">Static Control</a></nobr>
        <nobr><a href="{% url 'Bertha_Channels' %}" onclick="Stop()">Bertha Channels</a></nobr>
        <nobr><a href="{% url 'index' %}" onclick="Stop()">Home</a></nobr>
        <nobr><a href="{% url 'logout' %}" onclick="Stop()">Log Out</a></nobr>
        </div>
        
        <br/><br/>
        
        <div class="container-fluid pt-1 pl-1" id = "ListHTMLElements" expanded = "false">
            <div class="row">
                <div class="col-sm" align = "right" id = "ListHTMLElementsButton" onclick = "ListHTMLElements()">
                        &#43;
                </div>
                <div class="col-sm-11" align = "left">
                    Add HTML Elements
                </div>
            </div>
        </div>
        
        <div class="container-fluid pt-1 pl-1" id = 'whole_html'>
            
            <br/><br/>
            
            <!--⌄⌄⌄ heat-map and line graph ⌄⌄⌄-->
            <div class="row">
                <div class="col-sm" id="heat-map-line-graph-show" align = "center" draggable="true">
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm" id="voltages" align = "center" draggable="true">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm" align = "center" draggable = "true" id = "time_diff" draggable = "true">
                    <label for="timediff" class = "foo">&nbsp Time Difference for Camera Data (seconds):&nbsp</label>
                    <input type = "text" id="timediff" name = "timediff" readonly>
                </div>
            </div>
            <br/>
            <br/>

            <!--Buttons on document to Start data streaming (Start()), Stop data streaming (Stop()), and send a signal back to the subscriber in server.py (SendBack()) respectively ⌄⌄⌄-->
            <div class = "row">
                <div class="col-sm" align = "center" draggable = "true" id = "Start">
                    <button type="button" class="btn btn-success" onclick="Start(); ResumeAnimations();">Start!</button>
                </div>
                <div class="col-sm" align = "center" draggable = "true" id = "Stop">
                    <button type="button" class="btn btn-danger" onclick="Stop(); PauseAnimations();">Stop!</button>
                </div>
                <div class="col-sm" align = "center" draggable = "true" id = "Signal">
                    <button type="button" class="btn btn-warning" onclick="SendBack('{&quot;function&quot;: &quot;signal&quot;, &quot;instructions&quot;: &quot;Hi friend!!&quot;}')">Signal!</button>
                </div>
            </div>
            
            <br/><br/>
        
            
            <div class = "row">
                <div class="col-sm" align = "center" id="dropdownMenuButtonSetFreqAmplChanPhaseOutput" draggable = "true">
                    <button type="button" class="btn btn-info" onclick="FreqAmplChanPhaseSetter();" clicked="true">
                        Set Output
                    </button>
                </div>
                
                <div class="col-sm" align = "center" id="dropdownMenuButtonChanOutput" draggable = "true">
                    <button type="button" class="btn btn-info" onclick="ChannelSetter();" clicked="true">
                        Read Temperature
                    </button>
                </div>
            </div>
            
            <br/><br/><br/>
            <br/><br/><br/>
            
            <div class="row">
                <!--load user's gui elements at the end of the document in the django variable 'gui_elements' -->
                <div class="col-sm" id = "users_html">
                    {{ gui_elements | safe }}
                </div>
            </div>
        </div>

        <br/><br/><br/> <!--new lines-->
        
        <script src="{% static 'myfirst.js' %}"></script>
        
        <script>
            UpdateElementsOnPage();
        </script>
    </body>
</html>





