{% load static %}
<!DOCTYPE html>
<html>
    
    
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
        <head>
            <meta charset="utf-8">
                <link rel="shortcut icon" href="#" />
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                        <title>Motor Control</title>
                        
                    </head>
        
        <body>
            <div class="container-fluid pt-1 pl-1" style="height:50px">
              <div class="d-flex align-items-center flex-wrap">
                <button class="btn btn-primary" onclick="openNav()">
                  &#9776
                </button>

                <div class="d-flex">
                  <h3 class="pl-1 d-flex px-2">Motor Control</h3>
                </div>
                <div class="d-flex container justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="px-2">
                      <div class="progress" style="width:100px">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                          QFDR
                        </div>
                      </div>
                    </div>

                    <div class="px-2">
                      <div class="progress" style="width:100px">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        Branching
                        </div>
                      </div>
                    </div>

                    <div class="px-2">
                      <div class="progress" style="width:100px">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                          Autocalibration
                        </div>
                      </div>
                    </div>
                  </div>
                

                  <div class="d-flex alert-success p-1 rounded border border-primary">
                    <p class="text-white"></p>Autocalibration</p>
                  </div>

                  <div class="d-flex alert-success p-1 rounded border border-primary">
                    Status: Executing Seq1
                  </div>
                </div>

              </div>
            </div>
            
            <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'Detection' %}">Detection</a>
            <a href="{% url 'Quadrupole' %}">Quadrupole</a>
            <a href="{% url 'Raman' %}">Raman</a>
            <nobr><a href="{% url 'Motor_Control' %}">Motor Control</a></nobr>
            <nobr><a href="{% url 'Static_Control' %}">Static Control</a></nobr>
            <nobr><a href="{% url 'Bertha_Channels' %}">Bertha Channels</a></nobr>
            <nobr><a href="{% url 'index' %}">Home</a></nobr>
            </div>
            <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
            </script>
            <br/>
            <br/>
            <br/>
            <br/><br/><br/>
            {% autoescape off %}
            <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
            <br/>
            
            {% endautoescape %}
            <button onclick="Clear()">Clear!</button>
            </br>
            <button onclick="myFunction()">Click me!</button>
            </br>
          <button onclick="Stop()">Stop!</button>
           </br>
           <button onclick="Start()">Start!</button>
    </body>
    <script src="{% static 'myfirst.jss' %}" type="text/javascript"></script>
    <div id="sine-graph"> </div>
</html>
