{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <link rel="shortcut icon" href="#" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <title>HTML Data</title>

    </head>
    <body>
        {% autoescape off %}
<!--        {{ loaded_data }} <br/>-->
        {% endautoescape %}
        <input type="hidden" id="myVar" name="variable" value="{{ string_loaded_data }}" readonly>
        <script type="text/javascript">
            
            var myVar = document.getElementById("myVar").value;
            console.log(typeof myVar);
            
            var count = 0;
            var lowEnd = 0;
            var highEnd = 0;
            const interval = 5;
            var lineVals = [];
            var text = myVar.split("\n");
            var numLines = text.length;
            window.addEventListener('load', function()
                           {
                var chatSocket = new WebSocket(
                            'ws://'
                            + window.location.host
                            + '/ws/members/data/data/'
                        );

                chatSocket.onclose = function(e) {
                    console.error('Chat socket closed unexpectedly');
                    };

                chatSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    //alert(data.message[0]);
                    lineVals.push(data.message[1]);
                    if (lineVals.length > interval)
                    {
                        lineVals.splice(0,1);
                    }
                    var my_plot =
                    {
                        z : data.message[0],
                        type: 'heatmap',
                        // opacity: 0.8,
                        zmin: 407,
                        zmax: 1518
                    };
                    Plotly.newPlot('heat-map', [my_plot]);
                    
                    var list = [];
                    for (var i = lowEnd; i <= highEnd; i++) {
                        list.push(i);
                    }
                    
                    var next_plot =
                    {
                        x: list,
                        y: lineVals,
                        type: 'scatter',
                        
                        // opacity: 0.8,
                    };
                    
                    var layout = {
                      yaxis: {
                        range: [ 0, 5.7 ]
                    },
                      xaxis: {
                          range: list
                      }
                      
                    };
                    
                    console.log( data.message[1])
                    Plotly.newPlot('line-graph', [next_plot], layout);
                    if (highEnd < 4)
                    {
                        highEnd++;
                    }
                    else
                    {
                        lowEnd++;
                        highEnd++;
                    }
                    
                };

                var myfunc = setInterval(function()
                {
                    oldline = text[count++ % numLines].split(" ");
                    for (let i = 0; i<oldline.length; i++)
                    {
                        //document.querySelector('#csv-log').value += parseFloat(line[i]) + '\n';
                        oldline[i] = parseFloat(oldline[i]);
                        
                    }
                    line = oldline.filter( value => !Number.isNaN(value) );
                    newArr = [];
                    val = line[0];
                    line.splice(0,1);
                    while(line.length) newArr.push(line.splice(0,11));
                       
                    chatSocket.send(JSON.stringify({
                                'text_data': [newArr,val]
                            }));
                }, 250);
            });
            
        </script>
        
        
    </body>
    <div id="heat-map"> </div>
    <br/>
    <div id="line-graph"> </div>
</html>
    
    
