{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <head>
        <meta charset="utf-8">
            <link rel="shortcut icon" href="#" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <title>Static Control</title>
                
            </head>
    
    <body>
        <div class="container-fluid pt-1 pl-1" style="height:50px">
          <div class="d-flex align-items-center flex-wrap">
            <button class="btn btn-primary" onclick="openNav()">
              &#9776
            </button>

            <div class="d-flex">
              <h3 class="pl-1 d-flex px-2">Static Control</h3>
            </div>
            <div class="d-flex container justify-content-between">
              <div class="d-flex align-items-center">
                <div class="px-2">
                  <div class="progress" style="width:100px">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                      QFDR
                    </div>
                  </div>
                </div>

                <div class="px-2">
                  <div class="progress" style="width:100px">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    Branching
                    </div>
                  </div>
                </div>

                <div class="px-2">
                  <div class="progress" style="width:100px">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      Autocalibration
                    </div>
                  </div>
                </div>
              </div>
            

              <div class="d-flex alert-success p-1 rounded border border-primary">
                <p class="text-white"></p>Autocalibration</p>
              </div>

              <div class="d-flex alert-success p-1 rounded border border-primary">
                Status: Executing Seq1
              </div>
            </div>

          </div>
        </div>
        
        <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'Detection' %}">Detection</a>
        <a href="{% url 'Quadrupole' %}">Quadrupole</a>
        <a href="{% url 'Raman' %}">Raman</a>
        <nobr><a href="{% url 'Motor_Control' %}">Motor Control</a></nobr>
        <nobr><a href="{% url 'Static_Control' %}">Static Control</a></nobr>
        <nobr><a href="{% url 'Bertha_Channels' %}">Bertha Channels</a></nobr>
        <nobr><a href="{% url 'index' %}">Home</a></nobr>
        </div>
        <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
        <textarea id="csv-log" cols="100" rows="20" readonly></textarea><br>
                
        <form id="myForm">
        <input type="file" id="csvFile" accept=".csv" />
        <br />
        <input type="submit" value="Submit" />
        </form>
        <script>
        const myForm = document.getElementById("myForm");
        const csvFile = document.getElementById("csvFile");
        myForm.addEventListener("submit", function (e) {
            e.preventDefault();
            const input = csvFile.files[0];
            const reader = new FileReader();
            var text;
            reader.onload = function (e)
            {
                var count = 0;
                var text = e.target.result.split("\n");
                var numLines = text.length;

                var chatSocket = new WebSocket(
                            'ws://'
                            + window.location.host
                            + '/ws/members/'
                        );

                chatSocket.onclose = function(e) {
                    console.error('Chat socket closed unexpectedly');
                    };

                chatSocket.onmessage = function(e) {
                       const data = JSON.parse(e.data);
                        //alert(data.message[0]);
                            var my_plot = {
                            z : data.message,
                            type: 'heatmap',
                            opacity: 0.8,
                           zmin: 407,
                           zmax: 1518,
                           
                        };
                        Plotly.newPlot('heat-map', [my_plot]);
                            
                        };

                var myfunc = setInterval(function()
                {
                    line = text[count++ % numLines].split(",").splice(2);
                    document.querySelector('#csv-log').value = "";
                    for (let i = 0; i<line.length; i++)
                    {
                        document.querySelector('#csv-log').value += parseFloat(line[i]) + '\t';
                        if ((i+1)%11==0 && i >= 10)
                        {
                            document.querySelector('#csv-log').value += '\n';
                        }
                        line[i] = parseFloat(line[i]);
                        
                    }
                    newArr = [];
                    while(line.length) newArr.push(line.splice(0,11));
                       

                    chatSocket.send(JSON.stringify({
                                'text_data': newArr
                            }));
                }, 500);

            };
                reader.readAsText(input);
        });
        </script>
        <div id="heat-map"> </div>
    </body>
</html>
