body
{
    font-family: "Calibri", sans-serif;
}
  
.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover
{
    color: #f1f1f1;
}

.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px)
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.square
{
      width: 100px;
      height: 100px;
      background-color: red;
      position: relative;
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count: infinite;
}

/* border for animation */
.outer_square
{
    width: 50%;
    height: 400px;
    position: relative;
    cursor: move;
}

mydiv
{
    display: block;
    position: absolute;
    /* etc. */
}

#ctxmenu
{
    position: fixed;
    background: ghostwhite;
    color: black;
    cursor: pointer;
    border: 1px black solid;
}

#ctxmenu > p
{
    padding: 0 1rem;
    margin: 0;
}

#ctxmenu > p:hover
{
    background: black;
    color: ghostwhite;
}

#ctxmenu_voltage
{
    position: fixed;
    background: ghostwhite;
    color: black;
    cursor: pointer;
    border: 1px black solid;
}

#ctxmenu_voltage > p
{
    padding: 0 1rem;
    margin: 0;
}

#ctxmenu_voltage > p:hover
{
    background: black;
    color: ghostwhite;
}

/* animation for square */
@keyframes example
{
    0%   {background-color:purple; left:0%; top:0%;}
    25%  {background-color:yellow; left:50%; top:0%;}
    50%  {background-color:blue; left:calc(50%); top:50%;}
    75%  {background-color:green; left:calc(0%); top:50%;}
    100% {background-color:red; left:0%; top:0%;}
}
